<%= form_with model: [@question, @comment] do |f| %>
  <div class="input-group my-3">
    <%= hidden_field_tag(:answer_id, answer_id) %>
    <%= f.text_field :body, required: true, placeholder: "Type a comment...", class:"form-control" %>
    <%= f.submit @comment.new_record? ? "Enter" : "Update", class:"btn btn-outline-primary" %>
  </div>
<% end %>