<h1><%= t('.title') %></h1>

<div class="pb-3">
  <%= link_to t('.new_question'), new_question_path, class:"btn btn-outline-primary" %>
</div>

<%= render @questions %>

<%= render 'shared/next_page', subject: 'questions' %>
