<h1>All questions</h1>

<% if logged_in? %>
  <div class="pb-3">
    <%= link_to 'New question', new_question_path, class:"btn btn-outline-primary" %>
  </div>
<% end %>

<%= render 'question' %>

<%== pagination @pagy %>