<%= turbo_frame_tag(
      "#{subject}-page-#{@pagy.next}",
      loading: :lazy,
      src: pagy_url_for(@pagy, @pagy.next),
      target: "_top" 
    ) do %>
  <div class="text-muted"><%= t('.loading') %></div>
<% end %>
