<h1><%= t('.title') %></h1>

<%= render 'form' %>

<%= link_to t('.delete'), category_path(category), method: :delete, class: "btn btn-outline-danger",
data: { confirm: t('global.dialog.you_sure') } %>
